extends templates/default

block content
  center
      h1= 'Bienvenido a: '
      img(src='https://raw.githubusercontent.com/FranciscoRam/Register-System/master/views/users/images/logo-raidsfimee.jpg' width='500')
      