doctype html
html
  head
    <title>Raids Fimee</title>
    <link rel="icon" type="image/jpg" href="https://raw.githubusercontent.com/FranciscoRam/Register-System/master/views/users/images/logo-raidsfimee.jpg"/>
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-2.2.3.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/')
  body
    include nav
    block content

        